<html>
  
<head>
</head>

<body>

<h1>Hello!this is a embedded ruby file</h1>
<p>
  My name is <%=@name%> 
</p>

<p>Im going to pick a number from 1 to 100</p>
<p><%@rand=rand(1..100)%></p>
<p>The random number I pick is <% if @rand%2 = 0 %></p>
    <%=even%>
    <%else %>
    <%odd%>



</body>
</html>